<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{?config.title}{config.title} {/config.title}Twelescreen</title>
  <link rel="stylesheet" href="/css/base.css">
  {?config.theme}
    <link rel="stylesheet" href="/themes/{config.theme}/styles.css">
  {:else}
    <link rel="stylesheet" href="/themes/default/styles.css">
  {/config.theme}
</head>

<body class="page-{page}"{?config.category_key} id="category-{config.category_key}"{/config.category_key}>


  {+content}

  {/content}


  <script src="/components/jquery/jquery.min.js"></script>

  {?config.font}
    <script src="http://ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script>
  {/config.font}

  {@eq key=page value="screen"}
    <script src="/components/socket.io-client/dist/socket.io.min.js"></script>
  {/eq}

  <script src="/js/twelescreen.js"></script>

  <script>
    $(document).ready(function() {

      twelescreen_client.init(
        '{page}',
        {
          {@eq key=page value="screen"}
            font: '{config.font}',
            category_key: '{config.category_key}',
            title: "{config.title}",
            screen_names: [{#config.screen_names}'{.}',{/config.screen_names}],
            burn_in_text: "{config.burn_in_text|s}",
            disconnect_warning: "{config.disconnect_warning|s}",
            number_of_tweets: {config.number_of_tweets},
            time_per_slide: {config.time_per_slide},
            slide_transition_time: {config.slide_transition_time},
            greeting_time: {config.greeting_time},
            greetings: [{#config.greetings}"{.|s}",{/config.greetings}],
            slogans: [{#config.slogans}"{.|s}",{/config.slogans}]
        {/eq}
      });

    });
  </script>

  {?config.google_analytics_id}
    <script>
      var _gaq=[['_setAccount','UA-{config.google_analytics_id}'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  {/config.google_analytics_id}

</body>
</html>
