<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{config.category.name}} Twelescreen</title>
  <link rel="stylesheet" href="/stylesheets/base.css">
  {{#if config.category.theme}}
  <link rel="stylesheet" href="/stylesheets/themes/{{config.category.theme}}.css">
  {{else}}
  <link rel="stylesheet" href="/stylesheets/themes/default.css">
  {{/if}}
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/webfont/1.4.8/webfont.js"></script>
  <script src="/components/socket.io-client/dist/socket.io.min.js"></script>
  <script src="/javascripts/script.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
</head>
<body>
  <div id="burn" class="slide slide-title vbox center"></div>
  <div id="greeting" class="slide slide-title vbox center"></div>

  <script>

    $(document).ready(function() {

      var fonts = $.Deferred();

      // If we have a font set, then load it...
      if ("{{config.category.font}}") {
        WebFont.load({
          google: {
            families: ["{{config.category.font}}"] // Or Anton?
          },
          active: function() { fonts.resolve(); }
        });
        // Load fonts.
        (function() {
          var wf = document.createElement('script');
          wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
        })();
      } else {
        // No font to load, so let's crack on...
        fonts.resolve();
      };
        
      fonts.done(function(){
        twelescreen_client.init({
          category: {
            key: '{{config.category.key}}',
            name: "{{config.category.name}}",
            screen_names: [{{#each config.category.screen_names}}'{{this}}',{{/each}}],
            greeting: "{{{config.category.greeting}}}",
            burn_in_text: "{{{config.category.burn_in_text}}}",
            disconnect_warning: "{{config.category.disconnect_warning}}"
          },
          number_of_tweets_to_display: {{config.number_of_tweets_to_display}},
          seconds_per_slide: {{config.seconds_per_slide}}
        });
      });
    });
  </script>
</body>
</html>


