<!DOCTYPE html>
<html>
<head>
  <title>{{static_data.country.name}} Twelescreen</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="/components/socket.io-client/dist/socket.io.min.js"></script>
  <script src="/javascripts/script.js"></script>
</head>
<body>
  <p>Test: {{static_data.country.name}} ({{static_data.country.code}}) </p>

  <ul id="tweets">

  </ul>

  <script>
    $(document).ready(function() {
      twelescreen_client.init({
        country: {
          code: '{{static_data.country.code}}',
          name: "{{static_data.country.name}}",
          accounts: [{{static_data.country.accounts}}]
        }
      });
    });
  </script>
</body>
</html>


