/**
 * Base CSS Styles for Twelescreen.
 * These styles define dimensions and positions, but not colors or styles.
 * Extend with a theme CSS file, like themes/default/styles.css
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END CSS RESET */


body {
  text-rendering: optimizeLegibility;
  background: #fff;
  color: #000;
}

#jsnotice h1,
#jsnotice p {
  margin: 1em 10px;
}

/**
 * A block element inside will be vertically centered. The .vbox element should
 * have a height set.
 */
.vbox {
  display: -webkit-box; /* OLD: Safari, iOS, Android, older WebKit.  */
  display: -moz-box;    /* OLD: Firefox (buggy) */ 
  display: -ms-flexbox; /* MID: IE 10 */
  display: -webkit-flex;/* NEW, Chrome 21–28, Safari 6.1+ */
  display: flex;        /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
} 

/**
 * A block element inside will be horizontally centered.
 */
.hbox {
  display: -webkit-box; /* OLD: Safari, iOS, Android, older WebKit.  */
  display: -moz-box;    /* OLD: Firefox (buggy) */ 
  display: -ms-flexbox; /* MID: IE 10 */
  display: -webkit-flex;/* NEW, Chrome 21–28, Safari 6.1+ */
  display: flex;        /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

  -webkit-box-pack: center;
  -moz-box-pack: center; 
  -ms-flex-pack: center; 
  -webkit-justify-content: center;
  justify-content: center;
}

/**
 * A fix for IE9 etc for some situations oh I don't know I'm tired of IE now.
 */
.lt-ie10 .hbox > * {
  margin-left: auto;
  margin-right: auto;
	text-align: center;
}


/*************************************************
 * Styles for the index page.
 *
 * Heights of each structural element:
 *
 * .menu-header   15%
 * .menu-body     70%
 * .menu-outro    10%
 * .menu-footer    5%
 * 
 */

.menu_header {
  width: 100%;
  height: 15%;
  text-align: center;
  font-size: 4em;
  line-height: 1em;
}
@media (max-width: 600px) {
  .menu_header {
    font-size: 3em;
  }
}
  .menu_header_inner {
    padding: 0.2em 10%; 
  }

.menu_body {
  width: 100%;
  height: 70%;
}
  .menu_body_inner {
    padding-bottom: 2em;
    width: 96%;
  }
    .menu_body_intro {
      text-align: center;
      font-size: 2em;
      line-height: 1.2em;
    }
    .menu_body_intro_inner {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      width: 90%;
      margin: 0 auto;
    }

    .categories {
      width: 100%;
      margin: 0 auto; 
    }
      .category {
        margin: 0.5em 2%;
        display: inline-block;
        vertical-align: top;
      }
        .category a {
          display: block;
          padding: 0.8em 1em 1em 1em;
        }
          .category_title {
            display: block;
            font-size: 2em;
            line-height: 1.2em;
            margin-bottom: 0.2em;
          }
          .category_screennames {
            font-size: 1.2em;
            line-height: 1.4em;
          }

.menu_outro {
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.4em;
}
  .menu_outro_inner {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1em;
  }

.menu_footer {
  width: 100%;
  height: 5%;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.4em;
} 
  .menu_footer_inner {
    width: 90%;
    margin: 0 auto;
  }

/* One column. */
@media (max-width: 750px) {
    .category {
      width: 96%;
    }
}
/* Two columns. */
@media (min-width: 751px) {
    .category {
      width: 46%;
    }
}

/*************************************************
 * Styles for the screen page.
 */

.page-screen {
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: -5000px;
  z-index: 100;
  /* Reset using fitText() in JS. */
  font-size: 70px;
  /* Should have a background so that transitions work nicely. */
  background: #fff;
}
.is-slide-on {
  left: 0;
}
.slide-title .slide_inner {
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
  width: 94%;
}

#burn {
  z-index: 2000;
  /* Hidden by default. Set it to 0 in a theme to have it display. */
  left: -5000px;
  background: none;
  zoom: 1;
  filter: alpha(opacity=4);
  opacity: 0.04;
  pointer-events: none;
}

.alert {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0.2em 0 0.3em 0;
  z-index: 1000;
}
  .alert_inner {
    width: 94%;
    margin: 0 auto;
    line-height: 1.2em;
  }

.tweet_account {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 1.4em;
}
  .tweet_account_avatar {
    position: absolute;
    top: 0;
    right: 3%;
    width: 1.4em;
  } 
  .tweet_account_name {
    width: 80%;
    height: 10%;
    margin: 0 0 0 3%;
    text-overflow: hidden;
    white-space: nowrap;
  }
.tweet_message {
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  position: relative;
}
  .tweet_message_panel {
    width: 94%;
    height: 100%;
    position: absolute;
    z-index: 200;
  }
  .tweet_message_panel-text .tweet_message_panel_inner {
    line-height: 1.2em;
  }
  .tweet_message_panel-image .tweet_message_panel_inner {
    line-height: 1px;
    text-align: center;
  }



