{>"base.html"/}

{<content}

  <div class="menu">
    <header class="menu-header">
      <div class="menu-header-inner">
        <h1>Twelescreen</h1>
      </div>
    </header>

    <section class="menu-body vbox center">
      <div class="menu-body-inner">
        <div class="menu-body-intro">
          <div class="menu-body-intro-inner">
          {?config.menu.intro_text}
            {config.menu.intro_text}
          {/config.menu.intro_text}
          </div>
        </div>

        <ul class="categories">
          {#config.categories_list}
            {?show_on_menu}
            <li id="category-{key}" class="category">
              <a href="/{key}/">
                <span class="category-title">{title}</span>
                <span class="category-screennames">{#screen_names}
                  <span class="category-screenname">@{.}{@sep}, {/sep}</span>{/screen_names}</span>
              </a>
            </li>
            {/show_on_menu}
          {/config.categories_list}
        </ul>

      </div>
    </section> <!-- .menu-body -->

    <section class="menu-outro vbox center">
      <div class="menu-outro-inner">
        {?config.menu.outro_text}
          {config.menu.outro_text}
        {:else}
          &nbsp;
        {/config.menu.outro_text}
      </div>
    </section>

    <footer class="menu-footer vbox center">
      <div class="menu-footer-inner">
        <a href="https://github.com/philgyford/twelescreen">More about Twelescreen</a>
      </div>
    </footer>
  </div> <!-- .page -->

{/content}
