body {
  font-family: 'Russo One', Helvetica, Arial, sans-serif;
  background: #000;
  color: #FCFCF2;
}

.slide {
  background: #CC2211;
}

#greeting {
  background: #EDED39;
  color: #222;
}
#greeting.invert {
  background: #222;
  color: #EDED39;
}

.alert {
  background: #FCFCF2;
  color: #222;
  text-transform: uppercase;
}

.tweet-account {
  color: #FCFCF2;
  background: #222;
  text-transform: uppercase;
}
.tweet-message {
  text-transform: uppercase;
}

