body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  background: #333;
  color: #ddd;
}

/*************************************************
 * Styles for the index page.
 */
.menu a {
  text-decoration: none;
}
.menu-header {
  font-size: 5em;
  color: #aaa;
}

.menu-body {
}
  .category {
  }
    .category a {
      background: #444;
    }
    .category a:hover {
      background: #555;
    }
      .category-title {
        font-size: 2em;
        line-height: 1.2em;
        margin-bottom: 0.2em;
        color: #eee;
      }
      .category-screennames {
        font-size: 1.2em;
        line-height: 1.4em;
        color: #aaa;
      } 
.menu-footer {
  font-size: 1.2em;
}
  .menu-footer a {
    color: #eee;
    text-decoration: underline;
  }
  .menu-footer a:hover {
    color: #fff;
  }

@media (max-width: 600px) {
  .page-header {
    font-size: 3em;
  }
}
/*************************************************
 * Styles for the screen page.
 */

.slide {
  background: #333;
}

#greeting {
  background: #fff;
  color: #000;
}
#greeting.is-inverted {
  background: #000;
  color: #fff;
}

.alert {
  background: #fff;
  color: #333;
  border-top: 2px solid #333;
}

.tweet_account {
  color: #aaa;
  background: #222;
}

.tweet_message {
}
  .tweet_message a {
    color: #ddd;
    text-decoration: none;
  }
  .tweet_message_panel {
    background: #333
  }
