body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  background: #333;
  color: #ddd;
}

#loading {
  color: #ddd;
  background: #000 url(img/loading.gif) 50% 50% no-repeat;
}

/*************************************************
 * Styles for the index page.
 */
.menu a {
  text-decoration: none;
}
.menu-header {
  color: #aaa;
}
  .menu-header-inner {
    background: #222;
  }

.menu-body {
}
  .category {
  }
    .category a {
      background: #444;
    }
    .category a:hover {
      background: #555;
    }
      .category-title {
        color: #eee;
      }
      .category-screennames {
        color: #aaa;
      } 
.menu-footer {
  background: #222;
}
  .menu-footer a {
    color: #eee;
    text-decoration: underline;
  }
  .menu-footer a:hover {
    color: #fff;
  }

/*************************************************
 * Styles for the screen page.
 */

.slide {
  background: #333;
}

#greeting {
  background: #ddd;
  color: #000;
}
#greeting.is-inverted {
  background: #000;
  color: #ddd;
}

.alert {
  background: #fff;
  color: #333;
  border-top: 2px solid #333;
}

.tweet_account {
  color: #aaa;
  background: #222;
}
  .tweet_account a {
    color: #aaa;
    text-decoration: none;
  }

.tweet_message {
}
  .tweet_message a {
    color: #ddd;
    text-decoration: none;
  }
  .tweet_message_panel {
    background: #333
  }
