body {
  font-family: 'Russo One', Helvetica, Arial, sans-serif;
  background: #222;
  color: #FCFCF2;
  text-transform: uppercase;
}

#loading {
  color: #EDED39;
  background: #222 url(img/loading.gif) 50% 54% no-repeat;
}

/*************************************************
 * Styles for the index page.
 */
.menu {
  background: #CC2211;
}
.menu a {
  color: #FCFCF2;
  text-decoration: none;
}
.menu_header {
}
  .menu_header_inner {
    background: #222;
  }

.menu_body {
}
  .category {
    background: #222;
  }
    .category a {
      text-align: center;
      padding-top: 140px;
      background-position: 50% 20px;
      background-repeat: no-repeat;
    }
    .menu #category-fi a { background-image: url(img/fi.png); }
    .menu #category-lt a { background-image: url(img/lt.png); }
    .menu #category-us a { background-image: url(img/us.png); }
    .menu #category-uk a { background-image: url(img/uk.png); }
    .category a:hover {
    }
      .category_title {
      }
      .category_screennames {
        display: none;
      } 
.menu_footer {
  background: #222;
}
  .menu_footer a {
  }
  .menu_footer a:hover {
  }

/*************************************************
 * Styles for the screen page.
 */

.slide {
  background: #CC2211;
}

#greeting {
  background: #EDED39;
  color: #222;
}
#greeting.is-inverted {
  background: #222;
  color: #EDED39;
}

#slogan {
  background: #222;
}

#burn {
  left: 0;
}

.alert {
  background: #FCFCF2;
  color: #222;
  padding-top: 0.3em;
  padding-bottom: 0.2em;
  border-top: 2px solid #000;
}

.tweet_account {
  color: #FCFCF2;
  background: #222;
}
  .tweet_account a {
    color: #FCFCF2;
    text-decoration: none;
  }

.tweet_message {
}
  .tweet_message a {
    color: #FCFCF2;
    text-decoration: none;
  }
  .tweet_message .url {
    text-transform: none;
  }
  .tweet_message_panel {
    background: #CC2211;
  }

